body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u2411 {
  position:absolute;
  left:98px;
  top:6px;
  width:380px;
  height:672px;
}
#u2412 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:668px;
}
#u2413 {
  position:absolute;
  left:102px;
  top:7px;
  width:373px;
  height:668px;
}
#u2414 {
  position:absolute;
  left:2px;
  top:326px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2415 {
  position:absolute;
  left:411px;
  top:386px;
  width:58px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
