body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:474px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2136 {
  position:absolute;
  left:99px;
  top:11px;
  width:375px;
  height:667px;
  font-size:16px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2138 {
  position:absolute;
  left:101px;
  top:11px;
  width:373px;
  height:20px;
  color:#FFFFFF;
}
#u2139 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:100px;
  top:31px;
  width:373px;
  height:44px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2142 {
  position:absolute;
  left:150px;
  top:41px;
  width:73px;
  height:24px;
  font-size:18px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2144 {
  position:absolute;
  left:448px;
  top:50px;
  width:7px;
  height:7px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2145 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2146 {
  position:absolute;
  left:427px;
  top:50px;
  width:7px;
  height:7px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2147 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2148 {
  position:absolute;
  left:437px;
  top:49px;
  width:9px;
  height:9px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2149 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:12px;
}
#u2150 {
  position:absolute;
  left:105px;
  top:15px;
  width:364px;
  height:12px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:-2px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u2152 {
  position:absolute;
  left:115px;
  top:43px;
  width:20px;
  height:21px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154 {
  position:absolute;
  left:100px;
  top:32px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2155 {
  position:absolute;
  left:100px;
  top:76px;
  width:373px;
  height:54px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:19px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2157 {
  position:absolute;
  left:111px;
  top:85px;
  width:351px;
  height:36px;
  font-size:16px;
  color:#999999;
}
#u2158 {
  position:absolute;
  left:2px;
  top:8px;
  width:347px;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2159 {
  position:absolute;
  left:259px;
  top:94px;
  width:19px;
  height:19px;
  opacity:0.5;
}
#u2160 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:501px;
}
#u2161 {
  position:absolute;
  left:100px;
  top:177px;
  width:373px;
  height:501px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:242px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2163 {
  position:absolute;
  left:143px;
  top:426px;
  width:30px;
  height:40px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(18, 150, 219, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1296DB;
}
#u2165 {
  position:absolute;
  left:130px;
  top:402px;
  width:56px;
  height:19px;
  font-size:12px;
  color:#1296DB;
}
#u2166 {
  position:absolute;
  left:2px;
  top:1px;
  width:52px;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2167 {
  position:absolute;
  left:254px;
  top:260px;
  width:30px;
  height:40px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(18, 150, 219, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1296DB;
}
#u2169 {
  position:absolute;
  left:241px;
  top:236px;
  width:56px;
  height:19px;
  font-size:12px;
  color:#1296DB;
}
#u2170 {
  position:absolute;
  left:2px;
  top:1px;
  width:52px;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2171 {
  position:absolute;
  left:356px;
  top:450px;
  width:30px;
  height:40px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(18, 150, 219, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1296DB;
}
#u2173 {
  position:absolute;
  left:343px;
  top:426px;
  width:56px;
  height:19px;
  font-size:12px;
  color:#1296DB;
}
#u2174 {
  position:absolute;
  left:2px;
  top:1px;
  width:52px;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2175 {
  position:absolute;
  left:193px;
  top:551px;
  width:30px;
  height:40px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(18, 150, 219, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1296DB;
}
#u2177 {
  position:absolute;
  left:180px;
  top:527px;
  width:56px;
  height:19px;
  font-size:12px;
  color:#1296DB;
}
#u2178 {
  position:absolute;
  left:2px;
  top:1px;
  width:52px;
  word-wrap:break-word;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2179 {
  position:absolute;
  left:101px;
  top:131px;
  width:373px;
  height:46px;
  font-size:16px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:15px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2181 {
  position:absolute;
  left:206px;
  top:144px;
  width:29px;
  height:20px;
  color:#666666;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2183 {
  position:absolute;
  left:335px;
  top:144px;
  width:29px;
  height:20px;
  color:#1E1E1E;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:3px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  position:absolute;
  left:332px;
  top:174px;
  width:36px;
  height:3px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:-6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187 {
  position:absolute;
  left:100px;
  top:130px;
  width:187px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
