body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1875 {
  position:absolute;
  left:99px;
  top:11px;
  width:375px;
  height:667px;
  font-size:16px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1877 {
  position:absolute;
  left:101px;
  top:11px;
  width:373px;
  height:20px;
  color:#FFFFFF;
}
#u1878 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  position:absolute;
  left:100px;
  top:31px;
  width:373px;
  height:44px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1881 {
  position:absolute;
  left:150px;
  top:41px;
  width:73px;
  height:24px;
  font-size:18px;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1883 {
  position:absolute;
  left:448px;
  top:50px;
  width:7px;
  height:7px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1884 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1885 {
  position:absolute;
  left:427px;
  top:50px;
  width:7px;
  height:7px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1886 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1887 {
  position:absolute;
  left:437px;
  top:49px;
  width:9px;
  height:9px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1888 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:12px;
}
#u1889 {
  position:absolute;
  left:105px;
  top:15px;
  width:364px;
  height:12px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:-2px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u1891 {
  position:absolute;
  left:115px;
  top:43px;
  width:20px;
  height:21px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893 {
  position:absolute;
  left:100px;
  top:32px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:74px;
}
#u1894 {
  position:absolute;
  left:99px;
  top:75px;
  width:375px;
  height:74px;
  font-size:16px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:29px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1896 {
  position:absolute;
  left:112px;
  top:102px;
  width:33px;
  height:21px;
  font-size:16px;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1898 {
  position:absolute;
  left:99px;
  top:208px;
  width:375px;
  height:50px;
  font-size:16px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1900 {
  position:absolute;
  left:112px;
  top:223px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1902 {
  position:absolute;
  left:410px;
  top:223px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1904 {
  position:absolute;
  left:99px;
  top:257px;
  width:375px;
  height:50px;
  font-size:16px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1906 {
  position:absolute;
  left:112px;
  top:272px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1908 {
  position:absolute;
  left:425px;
  top:271px;
  width:17px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1910 {
  position:absolute;
  left:99px;
  top:306px;
  width:375px;
  height:50px;
  font-size:16px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1912 {
  position:absolute;
  left:112px;
  top:321px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1914 {
  position:absolute;
  left:266px;
  top:321px;
  width:193px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1916 {
  position:absolute;
  left:99px;
  top:148px;
  width:375px;
  height:50px;
  font-size:16px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1918 {
  position:absolute;
  left:112px;
  top:163px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1920 {
  position:absolute;
  left:340px;
  top:162px;
  width:102px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1922 {
  position:absolute;
  left:409px;
  top:87px;
  width:50px;
  height:50px;
  color:#666666;
}
#u1923 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1924 {
  position:absolute;
  left:447px;
  top:164px;
  width:18px;
  height:18px;
  opacity:0.3;
  font-size:16px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1926 {
  position:absolute;
  left:447px;
  top:273px;
  width:18px;
  height:18px;
  opacity:0.3;
  font-size:16px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928 {
  position:absolute;
  left:112px;
  top:159px;
  width:353px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1929 {
  position:absolute;
  left:112px;
  top:272px;
  width:347px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u1930 {
  position:absolute;
  left:977px;
  top:252px;
  width:300px;
  height:100px;
  color:#800080;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1932 {
  position:absolute;
  left:550px;
  top:11px;
  width:375px;
  height:667px;
  font-size:16px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1934 {
  position:absolute;
  left:552px;
  top:11px;
  width:373px;
  height:20px;
  color:#FFFFFF;
}
#u1935 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:551px;
  top:31px;
  width:373px;
  height:44px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1938 {
  position:absolute;
  left:601px;
  top:41px;
  width:73px;
  height:24px;
  font-size:18px;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1940 {
  position:absolute;
  left:899px;
  top:50px;
  width:7px;
  height:7px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1941 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1942 {
  position:absolute;
  left:878px;
  top:50px;
  width:7px;
  height:7px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1943 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1944 {
  position:absolute;
  left:888px;
  top:49px;
  width:9px;
  height:9px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1945 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:12px;
}
#u1946 {
  position:absolute;
  left:556px;
  top:15px;
  width:364px;
  height:12px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:-2px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u1948 {
  position:absolute;
  left:566px;
  top:43px;
  width:20px;
  height:21px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950 {
  position:absolute;
  left:551px;
  top:32px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:74px;
}
#u1951 {
  position:absolute;
  left:550px;
  top:75px;
  width:375px;
  height:74px;
  font-size:16px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:29px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1953 {
  position:absolute;
  left:563px;
  top:102px;
  width:33px;
  height:21px;
  font-size:16px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1955 {
  position:absolute;
  left:550px;
  top:208px;
  width:375px;
  height:50px;
  font-size:16px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1957 {
  position:absolute;
  left:563px;
  top:223px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1959 {
  position:absolute;
  left:861px;
  top:223px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1961 {
  position:absolute;
  left:550px;
  top:257px;
  width:375px;
  height:50px;
  font-size:16px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1963 {
  position:absolute;
  left:563px;
  top:272px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1965 {
  position:absolute;
  left:876px;
  top:271px;
  width:17px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1967 {
  position:absolute;
  left:550px;
  top:306px;
  width:375px;
  height:50px;
  font-size:16px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1969 {
  position:absolute;
  left:563px;
  top:321px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u1971 {
  position:absolute;
  left:710px;
  top:321px;
  width:200px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1973 {
  position:absolute;
  left:550px;
  top:148px;
  width:375px;
  height:50px;
  font-size:16px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1975 {
  position:absolute;
  left:563px;
  top:163px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1977 {
  position:absolute;
  left:791px;
  top:162px;
  width:102px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1979 {
  position:absolute;
  left:860px;
  top:87px;
  width:50px;
  height:50px;
  color:#666666;
}
#u1980 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1981 {
  position:absolute;
  left:898px;
  top:164px;
  width:18px;
  height:18px;
  opacity:0.3;
  font-size:16px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1983 {
  position:absolute;
  left:898px;
  top:273px;
  width:18px;
  height:18px;
  opacity:0.3;
  font-size:16px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985 {
  position:absolute;
  left:563px;
  top:159px;
  width:353px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1986 {
  position:absolute;
  left:563px;
  top:272px;
  width:347px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#800080;
}
#u1987 {
  position:absolute;
  left:258px;
  top:709px;
  width:57px;
  height:20px;
  color:#800080;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#800080;
}
#u1989 {
  position:absolute;
  left:695px;
  top:709px;
  width:85px;
  height:20px;
  color:#800080;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
