body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1283px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u563 {
  position:absolute;
  left:498px;
  top:9px;
  width:380px;
  height:672px;
}
#u564 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u565 {
  position:absolute;
  left:903px;
  top:9px;
  width:380px;
  height:672px;
}
#u566 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u567 {
  position:absolute;
  left:98px;
  top:9px;
  width:380px;
  height:672px;
}
#u568 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569 {
  position:absolute;
  left:500px;
  top:11px;
  width:374px;
  height:667px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u570 {
  position:absolute;
  left:903px;
  top:12px;
  width:374px;
  height:667px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  position:absolute;
  left:223px;
  top:275px;
  width:130px;
  height:131px;
  opacity:0.71;
}
#u572 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#E4E4E4;
}
#u573 {
  position:absolute;
  left:255px;
  top:361px;
  width:66px;
  height:21px;
  font-size:16px;
  color:#E4E4E4;
}
#u574 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u575 {
  position:absolute;
  left:268px;
  top:310px;
  width:40px;
  height:39px;
  opacity:0.8;
}
#u576 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577 {
  position:absolute;
  left:623px;
  top:275px;
  width:130px;
  height:131px;
  opacity:0.71;
}
#u578 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#E4E4E4;
}
#u579 {
  position:absolute;
  left:656px;
  top:361px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#E4E4E4;
}
#u580 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u581 {
  position:absolute;
  left:661px;
  top:300px;
  width:54px;
  height:54px;
}
#u582 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  position:absolute;
  left:1028px;
  top:275px;
  width:130px;
  height:131px;
  opacity:0.71;
}
#u584 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#E4E4E4;
}
#u585 {
  position:absolute;
  left:1061px;
  top:361px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#E4E4E4;
}
#u586 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u587 {
  position:absolute;
  left:1060px;
  top:295px;
  width:66px;
  height:66px;
}
#u588 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#800080;
}
#u589 {
  position:absolute;
  left:626px;
  top:707px;
  width:153px;
  height:20px;
  color:#800080;
}
#u590 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#800080;
}
#u591 {
  position:absolute;
  left:1024px;
  top:707px;
  width:125px;
  height:20px;
  color:#800080;
}
#u592 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u593 {
  position:absolute;
  left:202px;
  top:655px;
  width:59px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u594 {
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u595 {
  position:absolute;
  left:605px;
  top:655px;
  width:59px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u596 {
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u597 {
  position:absolute;
  left:1009px;
  top:655px;
  width:59px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u598 {
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
