body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:667px;
}
#u823 {
  position:absolute;
  left:548px;
  top:12px;
  width:378px;
  height:667px;
}
#u824 {
  position:absolute;
  left:2px;
  top:326px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:667px;
}
#u825 {
  position:absolute;
  left:99px;
  top:12px;
  width:378px;
  height:667px;
}
#u826 {
  position:absolute;
  left:2px;
  top:326px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:100px;
  top:12px;
  width:375px;
  height:667px;
  opacity:0.6;
}
#u828 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:293px;
}
#u829 {
  position:absolute;
  left:100px;
  top:386px;
  width:376px;
  height:293px;
}
#u830 {
  position:absolute;
  left:2px;
  top:138px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u831 {
  position:absolute;
  left:232px;
  top:476px;
  width:112px;
  height:19px;
  color:#CCCCCC;
}
#u832 {
  position:absolute;
  left:2px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u833 {
  position:absolute;
  left:232px;
  top:510px;
  width:112px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u834 {
  position:absolute;
  left:2px;
  top:-1px;
  width:108px;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u835 {
  position:absolute;
  left:232px;
  top:545px;
  width:112px;
  height:19px;
  font-size:16px;
}
#u836 {
  position:absolute;
  left:2px;
  top:-1px;
  width:108px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u837 {
  position:absolute;
  left:232px;
  top:614px;
  width:112px;
  height:19px;
  color:#CCCCCC;
}
#u838 {
  position:absolute;
  left:2px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u839 {
  position:absolute;
  left:214px;
  top:580px;
  width:147px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u840 {
  position:absolute;
  left:2px;
  top:-1px;
  width:143px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:550px;
  top:12px;
  width:375px;
  height:667px;
  opacity:0.6;
}
#u842 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:293px;
}
#u843 {
  position:absolute;
  left:550px;
  top:386px;
  width:376px;
  height:293px;
}
#u844 {
  position:absolute;
  left:2px;
  top:138px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u845 {
  position:absolute;
  left:682px;
  top:476px;
  width:112px;
  height:19px;
  color:#CCCCCC;
}
#u846 {
  position:absolute;
  left:2px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u847 {
  position:absolute;
  left:682px;
  top:510px;
  width:112px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u848 {
  position:absolute;
  left:2px;
  top:-1px;
  width:108px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u849 {
  position:absolute;
  left:682px;
  top:545px;
  width:112px;
  height:19px;
  font-size:16px;
}
#u850 {
  position:absolute;
  left:2px;
  top:-1px;
  width:108px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u851 {
  position:absolute;
  left:682px;
  top:614px;
  width:112px;
  height:19px;
  color:#CCCCCC;
}
#u852 {
  position:absolute;
  left:2px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u853 {
  position:absolute;
  left:664px;
  top:580px;
  width:147px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u854 {
  position:absolute;
  left:2px;
  top:-1px;
  width:143px;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:414px;
  top:394px;
  width:53px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u856 {
  position:absolute;
  left:864px;
  top:394px;
  width:53px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
