body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:986px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u3853 {
  position:absolute;
  left:98px;
  top:11px;
  width:380px;
  height:671px;
}
#u3854 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3855 {
  position:absolute;
  left:100px;
  top:12px;
  width:375px;
  height:667px;
  opacity:0.6;
}
#u3856 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3857 {
  position:absolute;
  left:137px;
  top:253px;
  width:300px;
  height:201px;
}
#u3858 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3859 {
  position:absolute;
  left:157px;
  top:278px;
  width:161px;
  height:21px;
  font-size:16px;
}
#u3860 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3861 {
  position:absolute;
  left:330px;
  top:415px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u3863 {
  position:absolute;
  left:198px;
  top:415px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u3864 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u3865 {
  position:absolute;
  left:137px;
  top:397px;
  width:300px;
  height:1px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:2px;
}
#u3867 {
  position:absolute;
  left:258px;
  top:425px;
  width:57px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3868 {
  position:absolute;
  left:30px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u3869 {
  position:absolute;
  left:157px;
  top:406px;
  width:116px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3870 {
  position:absolute;
  left:306px;
  top:407px;
  width:114px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3871 {
  position:absolute;
  left:168px;
  top:326px;
  width:238px;
  height:38px;
}
#u3871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#800080;
}
#u3872 {
  position:absolute;
  left:522px;
  top:335px;
  width:155px;
  height:20px;
  color:#800080;
}
#u3873 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:84px;
}
#u3874 {
  position:absolute;
  left:522px;
  top:390px;
  width:464px;
  height:84px;
  color:#800080;
  line-height:28px;
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
